.footer-bg {
  position: relative;
  background-color: #010e1b;
  overflow: hidden;
  z-index: 0;
}

.footer-bg::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%; height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.12;
  z-index: 0;
  pointer-events: none;
}

.footer-bg::after {
  content: "";
  position: absolute;
  top: -200px; /* Move up for a soft fade */
  left: 50%;
  transform: translateX(-50%);
  width: 1400px;         /* Increased width */
  height: 700px;         /* Increased height */
  /* background: radial-gradient(ellipse at center, rgba(228, 85, 247,0.60) 0%, rgba(213, 85, 245, 0.219) 60%, transparent 100%); */
  filter: blur(64px);    /* Increased blur for a softer, larger effect */
  z-index: 1;
  pointer-events: none;
}

.footer-bg > * {
  position: relative;
  z-index: 1;
}

