.skill-card {
  position: relative;
  background-color: #010e1b; /* Dark blue matte base */
  overflow: hidden;
  z-index: 0;
  padding-bottom: 0px;
}

.skill-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.12;
  z-index: 0;
  pointer-events: none;
}

.skill-card::after {
  content: "";
  position: absolute;
  bottom: -200px; /* Moved to bottom for shadow effect */
  left: 50%;
  transform: translateX(-50%);
  width: 1400px;
  height: 700px;
  background: radial-gradient(ellipse at center, rgba(228, 85, 247,0.60) 10%,  rgba(213, 85, 245, 0.219) 60%, transparent 100%);
  filter: blur(64px);
  z-index: 1;
  pointer-events: none;
}

.project-card > * {
  position: relative;
  z-index: 2; /* Higher z-index to ensure content is above both pseudo-elements */
}